[Unit]
Description=Run Arch Update auto check at boot and then every hour

[Timer]
OnStartupSec=15
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
