[Desktop Entry]
Name=Arch-Update
Comment=An interactive update notifier & applier for Arch Linux
Comment[fr]=Un notificateur & applicateur de mises à jour interactif pour Arch Linux
Comment[ja]=Arch Linux 用の対話式アップデート通知 & 適用システム
Icon=arch-update-blue
Type=Application
Terminal=true
Exec=arch-update
Categories=Utility
