[Desktop Entry]
Name=Arch-Update
Comment[fr]=Un notificateur & applicateur de mises à jour pour Arch Linux
Comment=An update notifier & applier for Arch Linux
Icon=arch-update-blue
Type=Application
Terminal=true
Exec=arch-update
Categories=Utility
