[Desktop Entry]
Name=Arch-Update
Comment=An interactive update notifier & applier for Arch Linux
Comment[be]=Інтэрактыўны апавяшчальнік і ўсталёўшчык абнаўленняў для Arch Linux
Comment[bg]=Интерактивен нотификатор и инструмент за актуализиране за Arch Linux
Comment[de]=Ein interaktiver Update-Benachrichtiger und -Anwender für Arch Linux
Comment[es]=Notificador y gestor de actualizaciones para Arch Linux
Comment[eu]=Arch Linuxrako eguneraketa-jakinarazle eta aplikatzaile interaktiboa.
Comment[fr]=Un notificateur & applicateur de mises à jour interactif pour Arch Linux
Comment[it]=Un sistema interattivo di notifica & applicazione degli aggiornamenti per Arch Linux
Comment[ja]=Arch Linux 用の対話式アップデート通知 & 適用システム
Comment[ka]=ინტერაქტიური განახლებების შეტყობინება და გადატარება Arch Linux-ისთვის
Comment[nb]=En interaktiv oppdateringsvarsler og -gjennomfører for Arch Linux
Comment[ru]=Интерактивный помощник по обновлению Arch Linux: уведомляет об обновлениях и устанавливает их
Comment[tr]=Arch Linux için etkileşimli bir güncelleme bildiricisi ve uygulayıcısı
Comment[zh_CN]=Arch Linux 的交互式更新通知 & 应用工具
Icon=arch-update-blue
Type=Application
Terminal=true
Exec=arch-update
Categories=Utility
