# Arch-Update example configuration file (available at <https://github.com/Antiz96/arch-update/blob/main/res/config/arch-update.conf.example>).
# Documentation for this configuration file is available in the arch-update.conf(5) man page (see <https://github.com/Antiz96/arch-update/blob/main/doc/man/arch-update.conf.5.scd>).
# List of available options (with their default value) below, un-comment one to enable it.

#NoColor
#NoVersion
#NoAUR
#NoFlatpak
#NoNotification
#NewsNum=5
#NewsTimeout=10
#AURHelper=paru
#PrivilegeElevationCommand=sudo
#KeepOldPackages=3
#KeepUninstalledPackages=0
#DiffProg=$DIFFPROG
#TrayIconStyle=light
