[Unit]
Description=Launch the Arch-Update systray applet
After=graphical-session.target

[Service]
ExecStart=arch-update --tray

[Install]
WantedBy=graphical-session.target
