[Unit]
Description=Run arch-update auto check at boot and then every hour

[Timer]
OnStartupSec=15
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
