[Unit]
Description=Run arch-update auto check at boot and then once a day

[Timer]
OnStartupSec=2min
RandomizedDelaySec=1h
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target
