name: CI
on: pull_request

jobs:
  Test:
    runs-on:
      - self-hosted
      - CI-CD

    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Run actionlint
        run: actionlint -ignore 'label "CI-CD" is unknown' .github/workflows/CI.yml

      - name: Run codespell
        run: codespell --skip="README-fr.md,./doc/man/fr,./po" --enable-colors

      - name: Run mdl
        run: mdl --style .github/workflows/mdl_style.rb .

      - name: Run shellcheck
        run: find . -name '*.sh' -exec shellcheck --color=always {} +

      - name: Run pylint
        run: find . -name '*.py' -exec pylint -d E0611,E0401,C0103,C0301 --output-format=colorized {} +

      - name: Run make clean
        run: make clean

      - name: Run make
        run: make

      - name: Run make test
        run: make test
